<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Сайт кицика</title>

</head>
<body>

<br>
<br>
<br>
<br>
<br>
<br>


<form action="{% url 'thx_page' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
</form>

{% if object_list %}
<table border="1">

    <tr>
        <th>id</th>
        <th>Дата</th>
        <th>Имя</th>
        <th>Телефон</th>
    </tr>
{% for obj in object_list %}
    <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.order_datatime }}</th>
        <th>{{ obj.order_name }}</th>
        <th>{{ obj.order_phone }}</th>
    </tr>
{% endfor %}

</table>
{% else %}
Нет данных
{% endif %}

</body>
</html>